
include mixin

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{title}
        link(rel="shortcut icon" sizes="16x16" href="img/favico.png")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='styles/main.min.css')
    body

      block content
        h1= message
        h2= error.status
        pre #{error.stack}
